.reset-password-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.reset-password-container input{
  padding: 19px;
  font-size: 18px;
}
.reset-password-container button{
  font-size: 20px;
}
.input-eye-container span img{
  top: 25px
}